 <div class="user-details">
  <h1> Sobre mi </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
     <div class="tech">
      <h2>Diseño</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>Diseño interfaces de usuario con tecnologias actuales, que agilizan este proceso 
        y me permiten crear interfaces modernas y adaptables a multiples dispositivos. 
        Como TailwindCss y Bootstrap.</p>
    </div>
    <div class="tech">
      <h2>Codigo</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Utilizo diversos lenguajes de programacion, para solucionar problematicas de forma eficiente.
        Entre ellos js y php, junto variedad de frameworks modernos como laravel y livewireJS.
      </p>
    </div>
    <div class="tech">
      <h2>Herramientas</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Realizo mi trabajo utilizando herramientas actuales y polivalentes, como Visual Studio Code, 
        Git y GitHub, Docker, Linux, etc.</p>
    </div>
</div>
<div class="user-details">
  <button type="button" class="btn btn-dark"><a href="{{ "/assets/img/osc_img.jpg" | prepend: site.baseurl }}">Descarga mi CV Actual</a></button>
</div>
