 <div class="user-details">
  <h1> Sobre mi </h1>
  <p> {{site.user_description}} </p>
</div>
  <div style="margin: 10px;" class="user" id="raiz">
     <div class="tech aux">
      <h2>Diseño</h2>
      <i class="devicon-tailwindcss-original colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p style="text-align: justify;">Diseño interfaces de usuario modernas y adaptables a multiples dispositivos con tecnologias actuales, que agilizan este proceso.
        Como Angular, TailwindCss y Bootstrap. Ademas de librerias de UI como PrimeNG</p>
    </div>
    <div style="margin: 10px;" class="tech aux">
      <h2>Codigo</h2>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-flask-original colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <p style="text-align: justify;">Utilizo diversos lenguajes de programacion, para solucionar problematicas de forma eficiente.
        Entre ellos Python, JS y PHP, junto a poderosos framework como Angular, Laravel y Flask.
      </p>
    </div>
    <div style="margin: 10px;" class="tech aux">
      <h2>Tools y BD</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <p style="text-align: justify;">Realizo mi trabajo utilizando herramientas actuales y polivalentes, como Visual Studio Code, 
        Git y GitHub, Docker, Linux, etc. Ademas poseo experiencia trabajando con bases de datos relacionales, como SQLServer, PostgreSQL, SQLite y MariaDB.</p>
    </div>
</div>
<div class="user-details">
  <a class="project-link" href="{{ "/assets/img/Sebastian_Neira_CV_2025.pdf" | prepend: site.baseurl }}">Descarga mi CV Actual</a>
</div>

<script>
  function movil(){
    if (screen.width < 880){
    let tech_div = document.getElementById('raiz').getElementsByClassName('aux');
      for (let index = 0; index < 3; index++) {
        tech_div[index].classList.remove("tech");
        tech_div[index].style.cssText = '  margin: 10px; flex: 1 1 auto; width: 100%;';
      }
    }
  }
  window.onload = movil();

  window.onresize = function(){
    if (screen.width > 880){
      let tech_div = document.getElementById('raiz').getElementsByClassName('aux');
      for (let index = 0; index < 3; index++) {
        tech_div[index].style.cssText = '';
        tech_div[index].classList.remove("tech");
        tech_div[index].classList.add("tech");
      }
  } else {
    movil();
  }
}
</script>
