<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Mi Blog" href="https://neira9919.github.io/blog"><i class="icon fa fa-quote-right"></i></a>
      <a aria-label="Mi Email" href="mailto:neira9919@gmail.com"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="Mi Github" target="_blank" href="https://github.com/Neira9919/"><i class="icon fa fa-github-alt"
          aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>Sobre mi</a>
      <a class="link" href="#projects" data-scroll>Proyectos</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  <button id="botonMusica"
  style="position: fixed; bottom: 20px; right: 20px; z-index: 9999; background-color: #7740c0; color: white; border: 2px solid white; border-radius: 8px; padding: 10px 16px; cursor: pointer;">
  ▶ Reproducir música
</button>
</div>

<audio id="musicaDeFondo" loop style="display:none;">
  <source src="{{ '/assets/img/fondo.mp3' | prepend: site.baseurl }}" type="audio/mpeg">
</audio>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const musica = document.getElementById('musicaDeFondo');
    const boton = document.getElementById('botonMusica');
    musica.volume = 0.4;
    // Función para iniciar la música tras la primera interacción

    let estaReproduciendo = false;

    boton.addEventListener('click', () => {
      if (!estaReproduciendo) {
        musica.play()
          .then(() => {
            estaReproduciendo = true;
            boton.textContent = '⏸ Pausar música';
          })
          .catch(err => {
            console.warn('Error al reproducir música:', err);
          });
      } else {
        musica.pause();
        estaReproduciendo = false;
        boton.textContent = '▶ Reproducir música';
      }
    });
  });
</script>