<div class="user-details">
  <h1> Mis Proyectos </h1>
</div>
<div class="user-projects" style="margin: 20px; border: 2px solid #7740c0; border-radius: 12px; padding: 20px;">
  <div class="images-left">
    <img alt="Todo Arranque" src="{{ "/assets/img/todoarranque.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Todo Arranque</h3>
    <ul>
      <li>Pagina Web Taller Todo Arranque</li>
    </ul>
    <p style="text-align: justify;">Sitio web desarrollado en Angular, con Tailwind v3 y PrimeNG como librería de UI. Todo Arranque es un taller electromecánico icónico en la región, con más de 50 años de experiencia, que deseaba modernizarse y obtener presencia en Google y Google Maps. Se me otorgó total libertad para diseñar la página, y el cliente quedó encantado con el resultado.
    </p>
    <a class="project-link" href="https://todoarranque.cl/">Visita el Sitio!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Clinica Survision" src="{{ "/assets/img/survision.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Clinica Survision </h3>
    <ul>
      <li> Pagina Web Clinica Survision</li>
    </ul>
    <p style="text-align: justify;">Clínica Survisión es un centro oftalmológico integral ubicado en la ciudad de Osorno. La institución se dedica a proporcionar servicios de salud visual de alta calidad, abarcando un amplio espectro de especialidades médicas. Se me solicitó renovar su sitio web, el cual fue desarrollado en WordPress con Avada Builder. A pesar de las limitaciones técnicas, el sitio fue renovado siguiendo estrictamente las indicaciones del cliente.
    </p>
    <a class="project-link" href="https://clinicasurvision.cl/">Visita el Sitio!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Portafolio Laravel, livewire y taiwindCSS" src="{{ "/assets/img/laravel_portafolio.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Portafolio Laravel, livewire y taiwindCSS </h3>
    <ul>
      <li> Portafolio Autogestionable</li>
    </ul>
    <p style="text-align: justify;">Portafolio autoadministrable desarrollado en Laravel. Permite introducir de forma interactiva nuevos proyectos y editar los ya existentes.
      Fue desarrollado con Docker, TailwindCSS y LivewireJS, junto a Laravel, como una forma de aprender estas herramientas y demostrar los conocimientos adquiridos.
    </p>
    <a class="project-link" href="https://github.com/Neira9919/Portafolio-v1.0">Link al Repositorio</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="portafolio" src="{{ "/assets/img/portafolio.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Portafolio </h3>
    <ul>
      <li>Portafolio Personal</li>
    </ul>
    <p style="text-align: justify;">Portafolio personal alojado en GitHub como repositorio público. Está basado en un theme para GitHub Pages desarrollado por <a href="https://github.com/nrandecker/">Nathan Randecker</a>. Decidi usar este portafolio por la facilidad de hostearlo en Github Pages.
    </p>
    <a class="project-link" href="https://neira9919.github.io">Visita el Sitio!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="OsornoSmartCity" src="{{ "/assets/img/osc_img.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> OsornoSmartCity </h3>
    <ul>
      <li> Pagina Web Auto-Administrable</li>
    </ul>
    <p style="text-align: justify;">Desarrollo realizado en el marco de mi práctica profesional. Aplicación web cuyo objetivo es facilitar a la comunidad local un mapa interactivo y georreferenciado con puntos de interés dentro de la comuna, junto con información relacionada, fotos y una vista en vivo de las cámaras públicas de la ciudad.
    Fue desarrollada en PHP y mariaDB, utilizando librerías de JavaScript como Leaflet, jQuery y Bootstrap. También se trabajó con OpenStreetMap. Me gustaria destacar que el desarollo fue en tiempo record, solo 2 meses de plazo y 4 horas de desarrollo por dia.
    </p>
    <a class="project-link" href="http://osornosmartcity.cl">Visita el Sitio!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="blog" src="{{ "/assets/img/blog.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Blog </h3>
    <ul>
      <li>Blog Personal</li>
    </ul>
    <p style="text-align: justify;">Blog personal donde publico escritos, cuentos, artículos, entre otros. El objetivo del proyecto es crear contenido desde mi celular, utilizando Termux, Git y Nvim. De esta forma, puedo actualizarlo remotamente gracias a la generación de publicaciones basada en Markdown.
    Está basado en un theme para Jekyll desarrollado por <a href="https://www.wowthemes.net/">WowThemes</a>.</a>.
    </p>
    <a class="project-link" href="https://neira9919.github.io/blog">Visita el Sitio!</a>
  </div>
</div>
