<div class="user-details">
  <h1> Mis Proyectos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="OsornoSmartCity" src="{{ "/assets/img/osc_img.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> OsornoSmartCity </h3>
    <ul>
      <li> Pagina Web Auto-Administrable</li>
    </ul>
    <p>Desarrollo en el marco de mi practica profesional. Aplicacion web con el objetivo 
      de facilitar a la comunidad local un mapa interactivo, georreferenciado, con puntos de interés
      dentro de la comuna, junto a informacion relacionada, fotos y una vista en vivo de las camaras
      publicas de la ciudad.
    </p>
    <a class="project-link" href="http://osornosmartcity.cl">Pruebalo Aqui!</a>
  </div>
</div>
