<div class="user-details">
  <h1> Mis Proyectos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Portafolio </h3>
    <ul>
      <li>Portafolio Profesional</li>
    </ul>
    <p>Portafolio personal hosteado en github, como repositorio publico. Esta basado en un theme para github pages
      desarrollado por <a href="https://github.com/nrandecker/">Nathan Randecker</a>. Lo usare de forma previsional mientras
      termino el portafolio desarrollado en laravel.
    </p>
    <a class="project-link" href="https://neira9919.github.io">Pruebalo Aqui!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="OsornoSmartCity" src="{{ "/assets/img/osc_img.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> OsornoSmartCity </h3>
    <ul>
      <li> Pagina Web Auto-Administrable</li>
    </ul>
    <p>Desarrollo en el marco de mi practica profesional. Aplicacion web con el objetivo 
      de facilitar a la comunidad local un mapa interactivo, georreferenciado, con puntos de interés
      dentro de la comuna, junto a informacion relacionada, fotos y una vista en vivo de las camaras
      publicas de la ciudad.
    </p>
    <a class="project-link" href="http://osornosmartcity.cl">Pruebalo Aqui!</a>
  </div>
</div>
